.footer{
    background-color: $darkBlue;
    color:$white;
    padding: 2.5rem;
    text-align: center;

    .container{
        @include breakpoint-up(large){
            //height: 14rem;
            display: grid;
            padding: 1.875rem; 
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
           gap: 1rem;
            grid-template-areas:
                                "logo links1 links2 cta"
                                 "social links1 links2 copy";
           // justify-items: start;
            align-items: center;
        }
    }
    &__logo{
        margin-bottom: 1.875rem;
        display: block;

        @include breakpoint-up(large){
            grid-area: logo;
            align-self: start;
            margin-bottom: 0;
        }
    }
    &__social{
        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
            grid-area: social;
            margin-bottom: 0;

        }
        a{
            display: inline-block;
            
        &:not(:last-child){
            margin-right: 1rem;
        }
        }
    }
    &__links{
      

    }
    &__link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.875rem;

        @include breakpoint-up(large){
            align-items: start;
            margin-bottom: 0;
            //justify-content: space-between;

        }

        a{
         
                line-height: 2.25;

                @include breakpoint-up(large){
                    line-height: 2;
                }
         
            @include breakpoint-up(large){
                font-size: 1.1rem;
                //line-height: 1;
     
             }
        }
        &.col1{
            @include breakpoint-up(large){
                grid-area: links1;
                align-self: center;
            }
        }
        &.col2{
            margin-bottom: 1.875rem;
            @include breakpoint-up(large){
                grid-area: links2;
                margin-bottom: 0;

            }

        }
    }
    &__cta{
        font-size: 0.8125rem;
        @include breakpoint-up(large){
            grid-area: cta;
            justify-self: right;
            margin-bottom: 0;

        }
        .button{
            margin-bottom: 1.875rem;
            display: inline-block;
            
            @include breakpoint-up(large){
                margin-bottom: 0;
            }
        }
        margin-bottom: 1.875rem;

    }
    &__copyright{

        @include breakpoint-up(large){
            grid-area: copy;
            justify-self: right;
        }
    }
}